<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="db.properties" />

	<!--配置MyBatis全局属性-->
	<settings>
		<!--驼峰命名转换，表字段与对象成员变量怎么转换对接上-->
		<setting name="mapUnderscoreToCamelCase" value="true" />

	</settings>


	<!--别名-->
	<typeAliases>
		<package name="com.enjoylearning.mybatis.entity"></package>
	</typeAliases>

	<!--配置environment环境 -->
	<environments default="development">
		<!-- 环境配置1，每个SqlSessionFactory对应一个环境 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${jdbc_driver}" />
				<property name="url" value="${jdbc_url}" />
				<property name="username" value="${jdbc_username}" />
				<property name="password" value="${jdbc_password}" />
			</dataSource>
		</environment>

	</environments>

	<!-- 映射文件，mapper的配置文件 -->
	<mappers>
		<!--直接映射到相应的mapper文件-->
		<mapper resource="sqlmapper/TUserMapper.xml" />
	</mappers>

	<!--<mappers>-->
		<!--&lt;!&ndash;通过类扫描mapper文件&ndash;&gt;-->
		<!--&lt;!&ndash;<mapper class="com.enjoylearning.mybatis.mapper.TUserMapper" />&ndash;&gt;-->
		<!--&lt;!&ndash;扫描包下所有的mapper文件&ndash;&gt;-->
		<!--<package name="com.enjoylearning.mybatis.mapper" />-->
	<!--</mappers>-->


</configuration>  