<component name="ArtifactManager">
  <artifact type="war" name="SpringBootDemo2:war">
    <output-path>$PROJECT_DIR$/SpringBootDemo2/target</output-path>
    <root id="archive" name="SpringBootDemo2.war">
      <element id="artifact" artifact-name="SpringBootDemo2:war exploded" />
    </root>
  </artifact>
</component>